body,p,samp{
    font-family: 'Roboto', sans-serif;    
}
h1,h2,h3,h4,h5,h6,a{
    font-family: 'Rubik', sans-serif;
}
img{
    max-width: 100%;
}
.grybg{
   background-color: #f9fafb; 
}

/* Start custom Style */

.main-header .container-fluid,
.slider-section .container-fluid{
    max-width: 1488px;
}
body .btn-primary{
    background-color: #e73a3e !important;
    border-color: #e73a3e;
    padding: 10px 30px;
    font-size: 16px;

    position: relative;
    z-index: 1;
}
body .btn-primary:hover{
    border-color: #111;
}
body .btn-primary::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #111;
    border-color: #111;

    z-index: -1;
    transition: .3s;

}
body .btn-primary:hover::after{
    width: 100%;
}


/* Start Menu */

ul.our-primary-menu{

}
ul.our-primary-menu li{

}
ul.our-primary-menu li a{
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    color: #111;
    font-weight: 500;
}
ul.our-primary-menu li a:hover{
    color: #e73a3e;
}

/* DropDown Menu  Css*/

ul.our-primary-menu li{
    position: relative;

}
ul.our-primary-menu li ul{
    position: absolute;
    width: 300px;
    left: 0;
    top: 160%;
    background: #fafafa;
    list-style: none;
    padding: 10px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease-in-out;
}
ul.our-primary-menu li ul li{
    flex-direction: column;
}
ul.our-primary-menu li:hover ul{
    opacity: 1;
    visibility: visible;
    top: 120%;

}
ul.our-primary-menu li ul li a{}
ul.our-primary-menu li ul li a:hover{}

.header-info{

}
.header-search{
    width: 60px;
    font-size: 22px;
    text-align: center;
    margin-right: 20px;
    border-right: 1px solid #ddd;
}
.header-call{
    width: 220px;
}
.header-call-icon {
	font-size: 33px;
	color: #e73a3e;
    float: left;
    margin-right: 15px;
}
.header-call-info span{
    color: #606060;
}
.header-call-info a{
    font-weight: 500;
    color: #111;
    text-decoration: none;
    font-size: 18px;
}
.header-button{

}

/* slider / Banner css */

.Slider-section{
    background: url(img/main-banner2.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}
.slider-content-wrap{
    height: 90vh;
    display: flex;
    align-items: center;
    position: relative;
}
.slider-content h6{
    color: #e73a3e;
}
.slider-content{
    /* margin-top: 200px; */
}
.slider-content h1{
    font-size: 60px;
    margin-top: 25px;
    margin-bottom: 20px;
}
.slider-content p{
    font-weight: 400;
    color: #606060;
    font-size: 20px;
    /* margin-bottom: 40px; */
}



.header-social{
    position: absolute;
    left: 0;
    bottom: 0;   
}
.header-social ul{
    list-style: none;
    padding-left: 0;

}
.header-social ul li{}
.header-social ul li span{
    font-size: 18px;
    display: inline-block;
    margin-right: 50px;
    position: relative;
}
.header-social ul li span::after{
    content: "";
    height: 1px;
    width: 35px;
    background: #111;
    position: absolute;
    right: -45px;
    top: 51%;

}
.header-social ul li a{
    text-decoration: none;
    display: inline-block;
    padding: 0 14px;
    color: #111;
    font-size: 19px;
}
.header-social ul li a:hover{
    color: #e73a3e;
}
/* Start Part-2 CSS */

.logo-section{
    border-bottom: 1px solid #ddd;
}
.client-logo{

}
.client-logo ul{
    list-style: none;
    padding-left: 0;

}
.client-logo ul li{

}
.client-logo ul li {}


/* About-Section */


.about-section{

}
.about-image{
    position: relative;
}
.about-img-text {
    position: absolute;
    right: 100px;
    bottom: 0;
    background: url(img/shape.png);
    height: 200px;
    width: 200px;
    background-size: contain;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

}
.about-img-text h2{

}
.about-img-text p{

}
.about-text{

}
.finix-text{}
.finix-text h6{
    color: #e73a3e;
    font-weight: 400;
}
.finix-text h2{
    font-size: 42px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 20px;
}
.finix-text p{
    color: #606060;
    font-size: 16px;
    padding-bottom: 20px;
}
.finix-text strong{
    color: #606060;
    font-size: 20px;
    font-weight: 400;
}
.finix-text ul{
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
}
.finix-text ul li{
    padding: 5px 0;
}
.finix-text ul li::before{
    content: "\f00c";
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    color: #e73a3e;
    display: inline-block;
    margin-right: 10px;

}

/* Class Part - 3 */
/* Why Choose Us */

.features-item{
    background-color: #fff;
    padding: 30px;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
    transition: .5s;
}
.features-item:hover{
    transform: translateY(-12px);
}
.features-item::before {
	content: "";
	position: absolute;
	top: -135px;
	right: 0px;
	margin: auto;
	left: 0;
	width: 90%;
	height: 70%;
	background: #FDEBEB;
	border-radius: 50%;	
}
.features-item .ft-icon{
    position: relative;
    z-index: 1;
}
.features-item .ft-icon i{
    color: #e73a3e;
    font-size: 30px;
    background: #fff;
    width: 90px;
    height: 90px;
    line-height: 90px;
    border-radius: 50%;
    position: relative;
    transition: .5s;
}
.features-item:hover .ft-icon i{
    background: #e73a3e;
    color: #fff;
}
.mtop4{
    margin-top: -30px;
}
.ft-icon{}
.ft-icon h3{}
.ft-icon p{}

.finix-text{
    position: relative;
}
.paly-animation-btn {
	width: 90px;
	height: 90px;
	display: inline-block;
	font-size: 60px;
	text-align: center;
	line-height: 90px;
	color: #e73a3e;
	background: #fff;
	border-radius: 50%;
	position: absolute;
	right: 35%;
    bottom: 55px;
}
.paly-animation-btn::before{
    content: "";
    width: 90px;
    height: 90px;
    position: absolute;
    top: 0;
    left: 0;
    background: #e73a3e;
    border-radius: 50%;
    animation: playbtn 1.6s ease-out infinite;

}
@keyframes playbtn{
    0%,30%{
        transform: scale(0);
        opacity: 1;
    }
    50%{
        transform: scale(1.5);
        opacity: .7;
    }
    100%{
        transform: scale(2);
        opacity: 0;
    }
}

/* Apply Now Section */
/* Part-4, Class */

.apply-now-section{}
.apply-now-text{
    margin-bottom: 50px;
}
.apply-now-text .finix-text p{
    color: #606060;
}
.apply-now-left-text{
    margin-top: 60px;
}


.step-timeline{}
.step-timeline ul{
    list-style: none; 
    position: relative;
    padding-left: 71px;
}
.step-timeline ul::before{
    content: "";
    position: absolute;
    top: 7px;
    left: 22px;
    width: 1px;
    height: calc(100% - 100px);
    background: #E73A3E;

}
.step-timeline ul li{
    margin-bottom: 25px; 
    position: relative;  
}
.step-timeline ul li::before {
	content: attr(data-counter);
	position: absolute;
	top: 0;
	left: -74px;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background: #f9fafb;
	border: 1px solid #E73A3E;
	line-height: 50px;
	text-align: center;
	color: #E73A3E;
	font-size: 24px;
}
.step-timeline ul li strong{
    font-size: 24px;
    display: block;
    margin-bottom: 10px;
}
.step-timeline ul li p{
    color: #606060;
    line-height: 30px;
}



.calculate-rate{
    background-color: #fdebeb;
    padding: 50px;
}
.calculate-rate .finix-text{}
.calculate-rate .finix-text h6{
    color: #606060;
}
.calculate-rate .finix-text h2{}

.calculate-form{}
.calculate-form .form-group{
    margin-bottom: 20px;
}
.calculate-form .form-group input{
    border: none;
    border-radius: 0;
    padding: 14px 15px;

}
.calculate-form .form-group select{
    border: none;
    border-radius: 0;
    padding: 14px 15px;
}
.calculate-form .form-group label{
    display: block;
    margin-bottom: 10px;
}

.call-to-action-bg{
    background-color: #E73A3E;
    padding: 60px;
    padding-bottom: 60px;
    color: #FEFCFF;
    border-radius: 6px;

}
.call-to-action-bg h2{
    font-size: 37px;
    font-weight: 400;
    border-right: 1px solid #ddd;
}
.call-to-action-phone{
    margin-top: 18px;
    margin-left: 40px;
}
.call-to-action-phone span{
    display: inline-block;
    width: 60px;    
    height: 60px;
    background: #fff;
    color: #e73a3e;
    font-size: 32px;
    border-radius: 50%;
    line-height: 60px;
    text-align: center;
    margin-right: 30px;
}
.call-to-action-phone a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 40px;
}

/* Our Company Values Section */

.company-values-text{

}
.values-item{
    margin-bottom: 20px;
}
.values-item .values-icon{
    font-size: 39px;
    color: #e73a3e;
    margin-right: 30px;
}
.value-texts{

}
.value-texts h3{

}
.value-texts p{
    color: #606060;
}
.our-company-img{
    text-align: right;
    margin-top: 35px;
}


/*  Day 6, Serivces CSS  */

/*======================================*/
	/* Start Services Section */
/*======================================*/


ul.services-tab-items {
    border-bottom: 1px solid #cbcbcc;    
    margin-bottom: 40px;
}

ul.services-tab-items li{
    flex: 1 1 auto;
    border: none;
}
ul.services-tab-items li button {
    border: none;
    background: transparent;
}
ul.services-tab-items li button strong {
    color: #111;
    margin-top: 10px;
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 30px;
}
ul.services-tab-items li button span i{
    background: #fff;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    line-height: 80px;
    font-size: 30px;
    color: #666;
}
ul.services-tab-items li button:focus span i{
    color: red;
}
.services-tab-items li button{
    position: relative;
}
.services-tab-item li a.active::after{

}
ul.services-tab-items li button span i{
    background: #fff;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    line-height: 80px;
    font-size: 30px;
    color: #666;
}
.serives-tab-content-text{
   
}
.serives-tab-content-text h3{
    margin-bottom: 10px;
}
.serives-tab-content-text p{
    color: #606060;
}

.serives-tab-content-text ul {
    list-style: none;
    padding-left: 0;
    
}
.serives-tab-content-text ul li{
    padding-bottom: 10px;
}

.serives-tab-content-text ul li::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 50%;
    margin-right: 12px;

}
.tesntimonial-items{
    margin-top: 50px;
}
.tesntimonial-items-text{
   margin-top: 44px;

}
.tesntimonial-items-text p {
	font-size: 25px;
	margin-right: 15px;
}
.tesntimonial-items-text h3{
    font-size: 20px;

}



.c-slid {
	margin-top: 100px;
	margin-left: 35px;
}